.Cardpage{
  background-color: #FFF;
    width: 70vw;
    min-width: 450px;
    padding: 10vh 10vw;
}


.credit-card-form {
  border-bottom: 2px solid #f5f5f5;
  margin-top: 15px;
  padding-bottom: 30px;
}



.available-card {
  display: flex;
  height: 35px;
}

.card-logo {
  width: 40px;
  margin: 5px 5px;
}

.red-label {
  background: #ea352d;
  margin-left: 8px;
  padding: 3px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}
.number{
  width: 100%;
  margin-top: 5px;
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  resize: none;

}

.cvc{
  width: 100%;
  margin-top: 5px;
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  resize: none;

}
.exp_month{
  width: 100%;
  margin-top: 5px;
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  resize: none;

}


.exp_year{
  width: 100%;
  margin-top: 5px;
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  resize: none;

}

.button{
  width: 70%;
    background: #ea352d;
    border: 1px solid #ea352d;
    color: #fff;
    line-height: 48px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 70px;
    align-items: center;
}

.registration-btn{
  text-align: center;
}
.info-input-headline {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  
}